<% content_for :title, t('.title') %>

<h2><%= t('.subtitle') %></h2>

<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-4 relative">
  <% @users.each do |user| %>
    <%= turbo_frame_tag user, src: user_profile_path(user), loading: "lazy", class: 'w-full aspect-[200/323] relative' %>
  <% end %>
</div>
