<p><%= calendar_event_time_string(calendar_event) %></p>
<p class="text-xs"><%= time_ago_in_words_in_or_ago(calendar_event.starts_at) %></p>
<p class="mt-5 italic"><%= calendar_event.location %></p>
<div class="my-5 break-all">
  <%= simple_format calendar_event.description %>
</div>
