@layer components {
  .flash {
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    border: 2px solid violet;
  }

  .failure, .danger {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.486);
  }

  .notice, .notice_with_url, .success {
    border: 2px solid #00ca16;
    background-color: #00ca1876;
  }

  .info {
    border: 2px solid #741c54;
    background-color: rgba(216, 145, 190, 0.2784313725);
  }

  .info a {
    text-decoration: underline #741c54;
  }
}
