@layer components {
  .form-style select, .form-style input[text] {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0.2rem;
    padding: 0.4rem 0.6rem;
    outline: none;
  }

  textarea {
    resize: both;
  }

  label {
    margin-top: 5px;
  }

  textarea, .form-border, .multiselect__container {
    padding: 0.4rem;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 3px;
  }

  /* Medium and large screens */
  @media only screen and (min-width: 768px) {
    textarea {
      width: 600px;
    }
  }
}