@layer base {
  html {
    --heading-font: 'Aclonica', sans-serif;
    --body-font: 'Open Sans', sans-serif;
  }

  html {
    font-family: var(--body-font);
    font-size: 18px;
  }

  h1 {
    font-family: var(--heading-font);
  }

  h1 { 
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 0.2em;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0 0.1rem;
    text-decoration: underline 2px var(--color-primary);
  }

  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  a {
    color: var(--color-primary);
  }

  nav a {
    color: black;
  }

  a:hover {
    color: var(--color-dark-orange);
  }

  nav a {
    color: #fff;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
  }

  .hov-bg:hover {
    background-color: var(--color-light-orange);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
  }

  .line {
    border: 0.5px solid #f3cdca;
  }

  .logo {
    width: 200px;
  }

  .nav-logo {
    width: 50px;
    border-radius: 50px;
    margin: 8px;
  }

  footer a {
    color: var(--color-light-orange)
  }

  footer a:hover {
    color: var(--color-hover-orange);
  }

  .symbol {
    padding: 15px 5px 0;
    font-size: 2rem;
    width: 30px;
  }

  /* Medium and large screens */
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }

    h2 {
      font-size: 1.3rem;
    }
  }
}