@import url("_buttons.css");
@import url("_flashes_errors.css");
@import url("_forms.css");
@import url("_links.css");
@import url("_tables.css");
@import url("_typography.css");
@import url("_icons.css");

@import url("_attendance.css");
@import url("_user.css");
@import url("_score.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Afacad Flux";
    src: url("AfacadFlux.ttf") format('truetype');
    src: url("AfacadFlux.woff2") format('woff2');
  }

  @font-face {
    font-family: "Open Sans";
    src: url("OpenSans-VariableFont.ttf") format('truetype');
  }
}
